.containerUl {
  width: 100%;
  min-height: 40vh;

  &_msg {
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
  }
}

.characterList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  &_item:hover {
    background-color: black;
    color: goldenrod;
    border: 3px solid goldenrod;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 250px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: goldenrod;

    &-picture {
      height: auto;
      width: auto;
      max-width: 200px;
      max-height: 200px;
      object-fit: contain;
    }

    &-name,
    &-specie {
      margin-top: 10px;
      color: white;
      text-decoration: none;
    }
  }
}

.link {
  text-decoration: none;
}
